<div class="container jumbotron customJumbotron mt-5 mb-5">
  <h1 align="center" class="N-Primary text--blue mb-5">Medidas de contención</h1>
  <div class="row" align="center">
    <div class="col">
      <mat-form-field class="example-full-width myMat">
        <mat-label>Fecha de inicio</mat-label>
        <input (dateChange)="selectDate($event)" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [startAt]="consultDay"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Seleccione un país</mat-label>
        <mat-select (selectionChange)="getMeasurements()" [(ngModel)]="countrySelected" name="food">
          <mat-option *ngFor="let country of countriesList" [value]="country">
            {{country}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div class="col" align="center" *ngIf="countries">
        <h3 class="mt-5">Medidas de {{this.consultDay}}</h3>
        <ul>
          <li class="list mt-3">
            <a>{{todayMeasures}}</a>
          </li>
        </ul>
        <div *ngIf="selected">
          <h3 class="mt-5">Medidas de {{this.nextWeek}}</h3>
          <ul>
            <li class="list mt-3">
              {{nextMeasures}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
