@import 'src/styles';@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
$page-background : #303f9f;
$nav-background : white;
$color : rgba(black, .87);
$transition : .75s;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font: 100% Roboto;
  background: $page-background;
  margin: 50px;
}

nav {
  width: 200px;
  margin-left: 3px;
  margin-top: 3px;
  background: var(--stat-blue);
  color: var(--paleGray);
  text-align: center;
  outline: solid var(--stat-amber) 2px;
  clip-path: circle(24px at 50px 30px);
  transition:
    -webkit-clip-path $transition*.75,
    clip-path $transition/2;

  &:hover {
    transition-timing-function: ease-out;
    transition-duration: $transition;
    clip-path: circle(390px at 150px 30px);
  }
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  user-select: none;

  &:hover { background: var(--stat-amber)}
  &:active { background: #ffca28; }
}


@mixin line {
  width: 20px;
  height: 2px;
  background: $color;
}

.navicon {
  color: whitesmoke;
  margin-left: 20px;
  padding: 30px 20px;
  cursor: pointer;
  transform-origin: 32px 24px;

  div {
    position: relative;
    @include line;

    &:before, &:after {
      display: block;
      content: "";
      @include line;
      position: absolute;
    }

    &:before { top: -7px; }
    &:after { top: 7px; }
  }
}

.menuBtn{
  display     : inline-block;
  margin-left : auto;
  width       : 60px;
  padding     : 18px 0;
  background-color: rgba(100,100,100,.3);
  color : #fff;
  text-align : center;
  cursor : pointer;
}
