body {
  background-size : cover;
}
nav {
  width : 240px;
  float : left;
}

input {
  display: none;
}

label {
  margin: 10px 10px 10px 10px;
  width       : 60px;
  padding     : 15px 0;
  background-color: rgba(100,100,100,.3);
  color : #ffffff;
  text-align : center;
  cursor : pointer;
}

li {
  list-style-type : none;
  border-top    : 1px solid #FFF;
  border-bottom : 1px solid #ddd;
  background-color: #f4f5f6;
  background-size : 200% 100%;
  background-position : 90% 0;
  transition: width 0.2s linear 0.15s;
  width: 150px;
  height: 60px;
}

a {
  display    : flex;
  justify-content: center;
  padding    : 20px 0;
  color      : #454545;
  text-align : center;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

li:nth-child(1) {
  border-top : none;
  background-color : #78cdce;
}

li:nth-child(2) {
  background-color : #f16767;
}

li:nth-child(3) {
  background-color : #f5ee32;
}

li:nth-child(4) {
  background-color : #97cc69;
}

li:nth-child(5) {
  background-color : #6B8EC7;
}

li:nth-child(6) {
  background-color : #B18ECC;
  border-bottom : none;
}

li:hover {
  width: 250px;
  background-position : 0 0;
}

#toggle:checked ~ nav {
  margin-left:  -240px;
}

::ng-deep .tooltip{
  background-color: #f4f5f6;
  color: black !important;
  font-size:25px;
  white-space: pre-line;
}

