<div class="map-container">
  <div class="map-frame" >
    <div id="map"></div>
  </div>
</div>

<div *ngFor="let item of countryAccumulated" id="popupContent">
  <label class="N-Secundary text--navy-1" id="country">{{selectedCountry}}</label>
  <br>
  <label class="N-Third text--amber" id="infected">Infected: {{item.INFECTED}}</label>
  <br>
  <label class="N-Third text--green" id="active">Active: {{item.ACTIVE}}</label>
  <br>
  <label class="N-Third text--blue" id="recovered">Recovered: {{item.RECOVERED}}</label>
  <br>
  <label class="N-Third text--red" id="dead">Dead: {{item.DEAD}}</label>
</div>
