<div class="content Second bg-navy-5" align="center">
    <div class="row-cols-1">
      <div class="col Main">
        <label class="text--green">Acerca de nosotros</label>
      </div>
    </div>
    <div class="row-cols-1">
      <div class="col">
        <label class="text--orange">¿Quién creo este sitio web?</label>
      </div>
    </div>
      <div class="row-cols-1">
        <div class="col">
          <label class="label-jump-line text--amber">
            JESSICA ESPINOZA QUESADA <br> JUAN PABLO ALVARADO VILLALOBOS <br>
             ELIAS DAVID ARCE MENDEZ<br> SAHID ROJAS CHACON
          </label>
        </div>
      </div>
    <div class="row-cols-1">
      <div class="col Secondary">
        <label class="text--red">Pueden comunicarse con nosotros al correo sabrosos_remix@gmail.com</label>
      </div>
    </div>
</div>
