<div class="container">
  <div class="row content">
    <div class="col-4" align="center">

      <div class="jumbotron customJumbotron mt-3 text--amber">
        <label class="N-Secundary customLabel mt-3 text--grey">
          Datos breves
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--amber">
          7,258,588
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de casos confirmados
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--green">
          435,489
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de muertos
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--yellow">
          3,187,968
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de activos
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--red">
          3,635,131
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de recuperados
        </label>
      </div>
    </div>
    <div class="col-8 mt-3">
      <app-chart></app-chart>
      <br>
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  <div class="row" >
    <div class="col-8 mt-3" >
    </div>
  </div>
</div>
