<div class="container">
  <div class="row content">
    <div class="col-4" align="center">

      <div class="jumbotron customJumbotron mt-3 text--amber" *ngFor="let item of totalAccumulated">
        <label class="N-Secundary customLabel mt-3 text--grey">
          Datos breves
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--amber">
          {{item.contagiados}}
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de casos confirmados
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--green">
          {{item.muertos}}
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de muertos
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--yellow">
          {{item.activos}}
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de activos
        </label>
        <br>
        <label class="N-Primary customLabel mt-3 text--red">
          {{item.recuperados}}
        </label>
        <label class="customLabel mt-3 text--grey">
          Total de recuperados
        </label>
      </div>
    </div>
    <div class="col-8 mt-3">
      <app-chart [chartDataSets] = "chartGlobalData" [chartLabels] = "chartLabels"></app-chart>
      <br>
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  <div class="row" >
    <div class="col-8 mt-3" >
    </div>
  </div>
</div>
